# LLMs
GROQ_API_KEY=YOUR_GROQ+API_KEY
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
GEMINI_API_KEY=YOUR_GEMINI_API_KEY


LLM_PROVIDER=groq
LLM_MODEL=


# LangSmith
LANGSMITH_API_KEY=YOUR_LANGSMITH_API_KEY
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=multi-agent-orchestrator


MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=multi_agent_system

# JWT Configuration
JWT_SECRET_KEY=Gof1fc__zX1zZkaUCaYw-Sq1pXyJIbyXr0PEtsUqG7w


GOOGLE_CLIENT_ID=GOOFGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=CLIENT_SECRET
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback
FRONTEND_URL=http://localhost:5173


# App
ENV=development

# Log level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=INFO

